@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

body {
    background-color: $blueLightest;
    font-family: 'Raleway', sans-serif;
    
}
p{
    color: whitesmoke;
    
}
#title {
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    height: 150px;
    width: 100%;
    position: fixed;
    margin-right: 50px;

}
#welcome{
    justify-content: center;
    align-self: center;
    text-align: center;
    font-size: 40px;
}
#login {
 display: flex;
 flex-direction: column;
 align-items: baseline;
 margin-right: 50px;
 padding-right: 50px;
}