@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

body {
    background-color: $blueLightest;
    font-family: 'Raleway', sans-serif;
    
}
p{
    color: whitesmoke;
    
}
#title {
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    height: 15%;
    width: 100%;
    
    margin-right: 50px;

}
#welcome{
    justify-content: center;
    align-self: center;
    text-align: center;
    font-size: 40px;
}
#buttons{
    display: flex;
    justify-content: space-around;
    margin-top: 2%;
    margin-left: 300px;
    margin-right: 300px;
    height: 15%;
}
#login {
 display: flex;
 flex-direction: column;
 align-items: baseline;
 margin-right: 50px;
 padding-right: 50px;
}
#userLoggedIn {
    text-align: center;
    justify-content: center;
    align-self: center;
    padding-right: 100px;
    margin-right: 100px;
}
#signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}
.navBut{
    height: 100px;
    width: 100px;
}