$blueMain: #3C5BA2;
$blueDark: #214598;
$blueLight: #5A76B7;
$blueLightest: #889DD3;
$yellowDark: #E3C11D;
$yellowLight: #FFE66E;
$yellowMain: #F2D549;
$orangeMain: #F29649;
$orangeDark: #E3771D;
$orangeLight: #FFB06E;



